
<div class="form-group m-3">
    <h3>Input Box</h3>
   <p> <input type="text" class="form-control"  #NameInput></p>
   <!-- <p> <input type="text" class="form-control"  [(ngModel)]="Name"></p> -->
    <h4>Parent Component :- {{Name}}</h4>
    <button class="btn btn-success" (click)="Submit(NameInput)" >Submit</button>
    <!-- <button class="btn btn-success" (click)="onNameHandler('Name')" >Submit</button> -->
    <button class="btn btn-danger m-3" (click)="onDestroyHandler()" >Destroy Child</button>
</div>

<div>
    <app-user-details *ngIf="childshow" [propCounter]=Name></app-user-details>
</div>
