
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h3>Array Element</h3>
            <ul>
                <h5 ><li [ngClass]="{'bg-success':arrNum[0]===10}">{{arrNum[0]}}</li></h5>
                <h5 ><li [ngClass]="{'bg-danger':arrNum[1]===20}">{{arrNum[1]}}</li></h5>
                <h5 ><li [ngClass]="{'bg-warning':arrNum[2]===30}">{{arrNum[2]}}</li></h5>
                <h5 ><li [ngClass]="{'bg-dark text-white':arrNum[3]===40}">{{arrNum[3]}}</li></h5>
                <h5 ><li [ngClass]="{'bg-info':arrNum[4]===50}">{{arrNum[4]}}</li></h5>
            </ul>

        </div>

    </div>

</div>
