<div class="container">
    <div class="row">
        <div class="col-4 mt-3"></div>
        <div class="col-4 mt-3">
            <div>
                <button class="btn-success p-2" (click) ="onTriggle()">Toggle</button>
            </div>
            <div *ngIf="Show==0">
                <h2 id="h1"> h1 We are learing *ngIf Directive</h2>
               
            </div>
            <div *ngIf="Show==1">
                    <h2 id="h2"> h2 We are learing *ngIf Directive</h2>
                               
            </div>
            <div *ngIf="Show==2">
                <h2 id="h3"> h3 We are learing *ngIf Directive</h2>
               
            </div>

        </div>

    </div>

</div>
