
<div class="container mt-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5">
            <h2 class="text-success">Custom Pipe</h2>
            <div class="mt-3">
                <h4>User status Active :- {{'A' | userStatus}}</h4>
                <h4>User status Active :- {{'a' | userStatus}}</h4>
                <h4>User status Discard :- {{'D' | userStatus}}</h4>
                <h4>User status Discard :- {{'d' | userStatus}}</h4>
                <h4>User status Invailed :- {{'N' | userStatus}}</h4>
            
            </div>
   
        </div>

    </div>
</div>
